h2.pageTitle About Me

p I'm Manda Kom, software engineer, lifestyle hacker, polyglot, and forever student. I'm also a wife and a dog mom. I love traveling, coding, learning new languages, well, learning anything, really. 

br

p I was an exchange student in Germany when I was 16, I went to business school at the University of Washington, and studied Ruby on Rails at Code Fellows. I've lived in Seattle for that last 10 years and love the diversity that surrounds us in this city.

br

p I love trying new things, taking on personal challenges, making and breaking habits, and home DIY projects. I created this blog and website to share my projects and challenges along with the lessons that I learn along the way.

br

p Fun fact about this website: I designed it and built it from scratch with Ruby on Rails. It's part of my portfolio and an ongoing project.
