section#portfolio
    .container
      .row
        .col-lg-12
          h3 Blog Posts
          hr.star-primary
      - if ArticlePolicy.new(current_user, @article).create?
        = link_to 'New article', new_article_path 

      ul
        - if @articles
          - @articles.each do |article|
            li.article id="#{ dom_id(article) }"
              h4 = link_to article.title, article
              .nav
                - if ArticlePolicy.new(current_user, article).update?
                  = link_to 'Edit', edit_article_path(article)
                - if ArticlePolicy.new(current_user, article).destroy?
                  = link_to 'Delete', article, method: :delete, data: {confirm: 'Are you sure?' }

      br
