<!DOCTYPE html>
<html>
  <head>
    <style>
      ul#menu li {
        display:inline;
        padding: 5px 10px 0 10px;
        font-size: 1.5em;
      }
    </style>
  </head>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <ul id="menu" align="right">
          <li>About me</li>
          <li>My portfolio</li>
          <li>Contact me</li>
        </ul>
      </div>
    </div>
  </nav>
</html>
