// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.buttonspace {
  padding: 5px;
}

.articles-articleTitle {
  font-size: 24px;
  color: #444444;
}

.articleRow {
  margin-top: 10px;
  margin-bottom: 30px;
}

.articles-articleTitle {
  a, a:visited, a:hover, a:focus {
    background-color: transparent;
    color: #444444;
    text-decoration: none;
  }
}

.articleDate {
  color: #CBC7C6;
  font-size: 12px;
  margin: 10px 0;
}

.article-articleTitle {
  font-size: 32px;
  font-weight: 400;
  margin-top: 30px;
}

.articleBody {
  color: #444444;
  font-size: 16px;
  margin-top: 30px;
}
