body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  font-size: 11px;
  padding: 10px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    background-color: #000;
    color: #fff;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

#error_explanation {
  background-color: #f0f0f0;
  border: 2px solid red;
  margin-bottom: 20px;
  padding: 7px;
  padding-bottom: 0;
  width: 450px;
  h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 15px;
    text-align: left;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }

  .tophead {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.headerBackground img {
  height: 220px;
  position: absolute;
  width: 100%;
  @media only screen and (max-width : 690px) {
    opacity: 0.5;
  }
}

.headerText {
  position: relative;
}

.container.headerText {
  @media only screen and (max-width : 690px) {
    padding-right: 30px;
  }
}

header {
  height: 220px;
}

.header-name {
  margin-top: 20px;
  font-size: 45px;
  font-weight: bold;
}

.header-skills {
  font-size: 20px;
  font-weight: bold;
}

.header-contactMe {
  font-size: 16px;
  font-weight: bold;
  a:link, a:visited, a:hover, a:active {
    background-color: transparent;
    color: #00645D;
    text-decoration: none;
  }
}

.container#menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px;
}

.navItem {
  font-size: 16px;
  padding: 5px 10px 0 10px;
  a:link, a:visited, a:hover, a:active {
    background-color: transparent;
    color: #00645D;
    text-decoration: none;
  }
}

ul#menu {
  padding-left: 0;
}

ul#menu li {
  display:inline;
}
