<footer class = "footer">
    <nav>
      <ul id="menu-main" class="list-inline text-center">
        <!-- Twitter -->
        <li class="text-center">
          <%= link_to image_tag('twitter.png', alt: "Twitter Logo", class: "social-icon"), "https://twitter.com/AmandaKom", target: "_blank" %>
        </li>

        <!-- LinkedIn  -->
        <li class="text-center">
          <%= link_to image_tag('linkedin.png', alt: "LinkedIn Logo", class: "social-icon"), "https://linkedin.com/in/amandakom", target: "_blank" %>
        </li>

        <!-- GitHub -->
        <li class="text-center">
          <%= link_to image_tag('github.png', alt: "GitHub Logo", class: "social-icon"), "https://github.com/mandarenee", target: "_blank" %>
        <li>
      </ul>
    </nav>
    <p class="text-center">© 2015 Amanda Kom</p>
</footer>

